<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <script src="/socket.io/socket.io.js"></script>
    <script>
      let socket = io();
    </script>
  </head>
  <body>
    <h2>D&D</h2>
    <input
      type="text"
      id="codeInput"
      autocomplete="off"
      placeholder="Код игры"
    />
    <button id="createGame">Создать игру</button>
    <button id="joinGame">Присоединиться</button>
    <div style="color: red" id="errorMessage"></div>
    <div>
      <input
        type="checkbox"
        name="privatCheck"
        id="privateCheck"
      />Private<input
        type="text"
        id="passwordInput"
        autocomplete="off"
        style="display: none"
        placeholder="Password"
      />
    </div>

    <script>
      document
        .querySelector("#createGame")
        .addEventListener("click", function () {
          if (document.querySelector("#codeInput").value == "") {
            window.location.replace("/?error=emptyCode");
          }
          window.location.replace(
            "/master?code=" + document.querySelector("#codeInput").value
          );
          if (document.querySelector("#privateCheck").checked) {
            window.location.replace(
              "/master?code=" +
                document.querySelector("#codeInput").value +
                "&password=" +
                document.querySelector("#passwordInput").value
            );
          }
        });
      document
        .querySelector("#joinGame")
        .addEventListener("click", function () {
          window.location.replace(
            "/player?code=" + document.querySelector("#codeInput").value
          );
          if (document.querySelector("#privateCheck").checked) {
            window.location.replace(
              "/player?code=" +
                document.querySelector("#codeInput").value +
                "&password=" +
                document.querySelector("#passwordInput").value
            );
          }
        });

      document
        .querySelector("#privateCheck")
        .addEventListener("click", function () {
          if (document.querySelector("#privateCheck").checked)
            document.querySelector("#passwordInput").style.display = "inline";
          else document.querySelector("#passwordInput").style.display = "none";
        });

      var urlParams = new URLSearchParams(window.location.search);
      switch (urlParams.get("error")) {
        case "invalidPassword":
          document.querySelector("#errorMessage").innerText =
            "Invalid password";
          break;
        case "invalidCode":
          document.querySelector("#errorMessage").innerText =
            "Invalid invite code";
          break;
        case "alreadyInGame":
          document.querySelector("#errorMessage").innerText = "Already in game";
          break;
        case "emptyCode":
          document.querySelector("#errorMessage").innerText =
            "Code cannot be empty";
          break;
        default:
          break;
      }
    </script>
  </body>
</html>
