<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <script src="/socket.io/socket.io.js"></script>
    <script>
      let socket = io();
    </script>
  </head>
  <body
    style="
      width: 100vw;
      height: 100vh;
      margin: 0;
      padding: 0;
      background-color: rgb(49, 49, 49);
      display: flex;
      justify-content: center;
    "
  >
    <h2
      style="
        font-size: 5vh;
        color: red;
        @font-face {
          font-family: 'Cattedrale';
          src: url(../public/fonts/Cattedrale.ttf) format('truetype');
        }
        font-family: Cattedrale;
      "
    >
      D&D
    </h2>

    <div
      style="
        position: absolute;
        top: 10vh;
        width: 90vh;
        height: 90vh;
        background-image: url(../public/img/Dragon.png);
        background-repeat: no-repeat;
        background-size: contain;
      "
    ></div>
    <div
      style="
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 50vh;
      "
    >
      <input
        type="text"
        id="codeInput"
        autocomplete="off"
        placeholder="Код игры"
        style="font-size: 1.5vw"
      />
      <div>
        <button id="createGame" style="font-size: 1.5vw">Создать игру</button>
        <button id="joinGame" style="font-size: 1.5vw">Присоединиться</button>
      </div>
      <div style="color: red" id="errorMessage"></div>
      <div>
        <input type="checkbox" name="privatCheck" id="privateCheck" /><label
          style="font-size: 1.3vw; color: white"
          >Приватная игра</label
        ><input
          type="text"
          id="passwordInput"
          autocomplete="off"
          style="display: none"
          placeholder="Пароль"
        />
      </div>
    </div>

    <script>
      document
        .querySelector("#createGame")
        .addEventListener("click", function () {
          if (document.querySelector("#codeInput").value == "") {
            window.location.replace("/?error=emptyCode");
            return;
          }
          if (socket.id == undefined) {
            window.location.replace("/?error=idNotExist");
            return;
          }
          window.location.replace(
            "/master?code=" + document.querySelector("#codeInput").value
          );
          if (document.querySelector("#privateCheck").checked) {
            window.location.replace(
              "/master?code=" +
                document.querySelector("#codeInput").value +
                "&password=" +
                document.querySelector("#passwordInput").value
            );
          }
        });
      document
        .querySelector("#joinGame")
        .addEventListener("click", function () {
          window.location.replace(
            "/player?code=" + document.querySelector("#codeInput").value
          );
          if (document.querySelector("#privateCheck").checked) {
            window.location.replace(
              "/player?code=" +
                document.querySelector("#codeInput").value +
                "&password=" +
                document.querySelector("#passwordInput").value
            );
          }
        });

      document
        .querySelector("#privateCheck")
        .addEventListener("click", function () {
          if (document.querySelector("#privateCheck").checked)
            document.querySelector("#passwordInput").style.display = "inline";
          else document.querySelector("#passwordInput").style.display = "none";
        });

      var urlParams = new URLSearchParams(window.location.search);
      switch (urlParams.get("error")) {
        case "invalidPassword":
          document.querySelector("#errorMessage").innerText =
            "Invalid password";
          break;
        case "invalidCode":
          document.querySelector("#errorMessage").innerText =
            "Invalid invite code";
          break;
        case "alreadyInGame":
          document.querySelector("#errorMessage").innerText = "Already in game";
          break;
        case "emptyCode":
          document.querySelector("#errorMessage").innerText =
            "Code cannot be empty";
          break;
        case "idNotExist":
          document.querySelector("#errorMessage").innerText =
            "Please wait, your id still not created";
          break;
        default:
          break;
      }
    </script>
  </body>
</html>
