<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DnD-Online *unavailable*</title>
  </head>
  <body
    style="
      width: 100vw;
      height: 100vh;
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    "
  >
    <span style="font-size: 4vh; margin-bottom: 3vh"
      >Извините! В данный момент на сайте производятся технические работы,
      зайдите позже.</span
    >
    <img
      src="https://media1.tenor.com/m/YWvXorgErA8AAAAd/family-technology.gif"
    />
  </body>
</html>
